#**Assignment #5**

*   **Mohammad Issa**
*   **ID:1210047**

In [1]:
import pandas as pd
import numpy as np 
import random
from itertools import product

**Load Dataset:**

In [2]:

dataset = pd.read_csv("C:/Users/HP/Downloads/online_retail_II.csv/online_retail_II.csv")
seed = hash('1210047')  # Convert your ID to Integer hash

Randomly select 200k row from the dataset using my ID as seed.

In [3]:
# Randomly select 200,000 rows from the data (using seed of my ID)
dataset = dataset.sample(200000, random_state=np.random.default_rng(seed))
dataset

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
362758,524522,22202,MILK PAN PINK POLKADOT,4,2010-09-29 13:14:00,3.75,14911.0,EIRE
1056502,580902,22909,SET OF 20 VINTAGE CHRISTMAS NAPKINS,96,2011-12-06 12:50:00,0.72,13881.0,United Kingdom
766033,558105,22908,PACK OF 20 NAPKINS RED APPLES,1,2011-06-26 14:54:00,0.85,15644.0,United Kingdom
774722,558892,85132C,CHARLIE AND LOLA FIGURES TINS,12,2011-07-04 15:46:00,1.95,17581.0,United Kingdom
847007,565151,21430,SET/3 RED GINGHAM ROSE STORAGE BOX,1,2011-09-01 14:29:00,3.75,16923.0,United Kingdom
...,...,...,...,...,...,...,...,...
833935,564017,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-08-22 11:44:00,1.25,14057.0,United Kingdom
979468,575507,23251,VINTAGE RED ENAMEL TRIM MUG,12,2011-11-10 10:32:00,1.25,17197.0,United Kingdom
374472,525497,82581,TOILET METAL SIGN,12,2010-10-05 16:46:00,0.55,15128.0,United Kingdom
1034062,579254,23395,BELLE JARDINIERE CUSHION COVER,4,2011-11-28 17:05:00,3.75,14511.0,United Kingdom
76622,496340,22058,CERAMIC LOVE HEARTS DESIGN MUG,12,2010-01-31 15:45:00,1.49,12668.0,Germany



1.   ***Determine the total sales per invoice and identify the top 5 invoices.***

In [4]:
invoice_total = dataset.groupby('Invoice')[['Price', 'Quantity']].sum()
invoice_total = invoice_total.reset_index()

# Sort invoice_total by total sales (descending) and select top 5 
top_invoices = invoice_total.sort_values(by='Price', ascending=False)[:5]

print(" <------> Total Sales per Invoice <------>")
print(invoice_total.head())
print("\nTop 5 Invoices:")
top_invoices

 <------> Total Sales per Invoice <------>
  Invoice  Price  Quantity
0  489434  14.95        48
1  489435   7.95        48
2  489436  10.20        27
3  489437  16.15        11
4  489438   7.74       152

Top 5 Invoices:

       Invoice     Price  Quantity
34375  C512770  25111.09        -1
35102  C537651  13541.33        -1
35101  C537630  13541.33        -1
12887   525399  10468.80         1
34937  C531400   6706.71        -1


2.   ***Compute the total sales per customer and list the top 5 customers.***

In [5]:
def get_top_customers(dataset):

  customer_totals = dataset.groupby('Customer ID')[['Price', 'Quantity']].sum().reset_index()
  top_customers = customer_totals.sort_values(by='Price', ascending=False)[:5]
  return customer_totals, top_customers

customer_totals, top_customers = get_top_customers(dataset)

print(" <------> Total Sales per Customer <------>")
print(customer_totals.head())
print("\n <------> Top customers <------>")
top_customers

 <------> Total Sales per Customer <------>
   Customer ID   Price  Quantity
0      12346.0   48.81        12
1      12347.0  121.07       485
2      12348.0   84.16       410
3      12349.0  356.10       366
4      12350.0    8.15        42

 <------> Top customers <------>

      Customer ID     Price  Quantity
4758      17399.0  25111.09        -1
2411      14911.0  11553.58     27267
184       12536.0   8450.88       443
5411      18102.0   7447.93     32792
5171      17841.0   6892.03      7449



3.   ***Identify the top 5 selling items during this period.***

In [6]:

# Assuming 'StockCode' represents the items
top_selling_items = (
    dataset.groupby('StockCode')['Quantity'].sum().sort_values(ascending=False).head(5)
)

#showing the  results
print("<------> Top 5 Selling Items (by Quantity) <------>")
print(top_selling_items)

<------> Top 5 Selling Items (by Quantity) <------>
StockCode
84879     20676
37410     19207
85099B    18559
21212     17179
84077     15250
Name: Quantity, dtype: int64





4.   ***Determine the most frequently purchased item pairs by customers and display the top 20 pairs.***

In [7]:
customer_items = dataset.groupby('Invoice')['Description'].apply(list).reset_index()

#  Function to find all pairs of items in a list
def find_pairs(items):
    pairs = []
    for i in range(len(items)):
        for j in range(i+1, len(items)):
            pairs.append((items[i], items[j]))
    return pairs

# finding pairs for each customer and concatenate the lists
customer_pairs = customer_items['Description'].apply(find_pairs)

pair_counts = pd.Series([item for sublist in customer_pairs for item in sublist]).value_counts()

print("\n <------> Top 20 Most Frequently Purchased Item Pairs <------>")
print(pair_counts.head(20))

 <------> Top 20 Most Frequently Purchased Item Pairs <------>
(SWEETHEART CERAMIC TRINKET BOX, STRAWBERRY CERAMIC TRINKET BOX)          32
(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )       31
(WHITE HANGING HEART T-LIGHT HOLDER, RED HANGING HEART T-LIGHT HOLDER)    28
(RED HANGING HEART T-LIGHT HOLDER, WHITE HANGING HEART T-LIGHT HOLDER)    28
(HEART OF WICKER LARGE, HEART OF WICKER SMALL)                            25
(WOODEN FRAME ANTIQUE WHITE , WOODEN PICTURE FRAME WHITE FINISH)          24
(LUNCH BAG CARS BLUE, LUNCH BAG WOODLAND)                                 24
(JUMBO BAG RED RETROSPOT, JUMBO  BAG BAROQUE BLACK WHITE)                 22
(JUMBO BAG RED RETROSPOT, JUMBO SHOPPER VINTAGE RED PAISLEY)              22
(JUMBO  BAG BAROQUE BLACK WHITE, JUMBO BAG RED RETROSPOT)                 22
(WHITE HANGING HEART T-LIGHT HOLDER, STRAWBERRY CERAMIC TRINKET BOX)      22
(GREEN REGENCY TEACUP AND SAUCER, GREEN REGENCY TEACUP AND SAUCER)        22
(LUNCH BAG WOODLAND, LUNCH BAG SPACEBOY DESIGN )                          21
(60 TEATIME FAIRY CAKE CASES, PACK OF 60 DINOSAUR CAKE CASES)             21
(JUMBO STORAGE BAG SUKI, JUMBO BAG RED RETROSPOT)                         21
(WHITE HANGING HEART T-LIGHT HOLDER, WOODEN FRAME ANTIQUE WHITE )         21
(ROSES REGENCY TEACUP AND SAUCER , GREEN REGENCY TEACUP AND SAUCER)       21
(LUNCH BAG  BLACK SKULL., LUNCH BAG RED RETROSPOT)                        20
(LOVE BUILDING BLOCK WORD, HOME BUILDING BLOCK WORD)                      20
(WHITE HANGING HEART T-LIGHT HOLDER, REGENCY CAKESTAND 3 TIER)            20
Name: count, dtype: int64

1.   Calculate Total Quantity Sold per Stock Code:

In [8]:
# Total quantity sold per stock 
item_quantities = dataset.groupby("Description")["Quantity"].sum().reset_index()

2.   Sort the Item Quantities DataFrame by Quantity in Descending Order:

In [9]:
# Sort the item_quantities DataFrame by quantity in descending order
sorted_quantities = item_quantities.sort_values(by="Quantity", ascending=False)

3.   Identify Top 10 Best Sellers by Quantity (without Duplicates):

In [10]:
# Top 10 best sellers by quantity (without duplicates-->drop_duplicates)
top_10_sellers = sorted_quantities.drop_duplicates(subset=["Description"]).head(10)

4.   Reset Index to Avoid Potential KeyError:

In [11]:
# Resetting the index to avoid potential KeyError -->reset_index
top_10_sellers.reset_index(drop=True, inplace=True)

5.   Identify Bottom 10 Sellers by Quantity (without Duplicates and Cancelled Invoices):

In [12]:
# Bottom 10 sellers by quantity (without duplicates --->drop_duplicates and cancelled invoices)
bottom_10_sellers = sorted_quantities[sorted_quantities["Quantity"] > 0].drop_duplicates(subset=["Description"]).tail(10)

6.   Reset Index to Avoid Potential KeyError:

In [13]:
# Resetting the index to avoid potential KeyError
bottom_10_sellers.reset_index(drop=True, inplace=True)

7. Generate Pairs of Items (One from Top Sellers and One from Bottom Sellers)

In [14]:
# Generate one from top sellers and one from bottom sellers
promotion_pairs = []
for _ in range(10):
    top_item = random.choice(top_10_sellers["Description"])
    bottom_item = random.choice(bottom_10_sellers["Description"])
    promotion_pairs.append((top_item, bottom_item))

8. printing the Recommendation for the Promotion:

1.top 10 best sellers DataFrame.

2.bottom 10 sellers DataFrame.

3.recommended promotion pairs generated in the previous step.

In [15]:
# Display the recommendation for the promotion
print("\n<------> Top 10 Sellers <------>")
print(top_10_sellers)
print("\n<------> Botton 10 Sellers <------>")
print(bottom_10_sellers)
print("\n<------> Recommended Promotion Pairs <------>")
for pair in promotion_pairs:
    print(pair)

<------> Top 10 Sellers <------>
                          Description  Quantity
0       ASSORTED COLOUR BIRD ORNAMENT     20676
1  BLACK AND WHITE PAISLEY FLOWER MUG     19207
2   WORLD WAR 2 GLIDERS ASSTD DESIGNS     15250
3  WHITE HANGING HEART T-LIGHT HOLDER     14888
4             JUMBO BAG RED RETROSPOT     14599
5         SET/6 WOODLAND PAPER PLATES     12982
6           SET/6 WOODLAND PAPER CUPS     12838
7  PACK OF 60 PINK PAISLEY CAKE CASES     12521
8         60 TEATIME FAIRY CAKE CASES     11296
9                 BROCADE RING PURSE      10211

<------> Botton 10 Sellers <------>
                           Description  Quantity
0     GIANT SEVENTEEN DRAWER SIDEBOARD         1
1    FLOWER FAIRY MUG+COASTER,LAVENDER         1
2               SILICON CUBE 25W, BLUE         1
3        BLACK SIL'T SQU CANDLE PLATE          1
4  SILVER/M.O.P PENDANT ORBIT NECKLACE         1
5       BLUE BERTIE MOBILE PHONE CHARM         1
6   SILVER LARIAT BLACK STONE EARRINGS         1
7        BLACK SILOUETTE CANDLE PLATE          1
8  PINK TALL PORCELAIN T-LIGHT HOLDER          1
9  BLACK VINT ART DEC CRYSTAL BRACELET         1

<------> Recommended Promotion Pairs <------>
('ASSORTED COLOUR BIRD ORNAMENT', 'SILVER LARIAT BLACK STONE EARRINGS')
('ASSORTED COLOUR BIRD ORNAMENT', "BLACK SIL'T SQU CANDLE PLATE ")
('ASSORTED COLOUR BIRD ORNAMENT', 'FLOWER FAIRY MUG+COASTER,LAVENDER')
('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 'PINK TALL PORCELAIN T-LIGHT HOLDER ')
('SET/6 WOODLAND PAPER PLATES', 'SILVER LARIAT BLACK STONE EARRINGS')
('PACK OF 60 PINK PAISLEY CAKE CASES', 'BLUE BERTIE MOBILE PHONE CHARM')
('PACK OF 60 PINK PAISLEY CAKE CASES', 'SILICON CUBE 25W, BLUE')
('SET/6 WOODLAND PAPER CUPS', 'SILVER/M.O.P PENDANT ORBIT NECKLACE')
('SET/6 WOODLAND PAPER CUPS', 'SILVER LARIAT BLACK STONE EARRINGS')
('PACK OF 60 PINK PAISLEY CAKE CASES', 'FLOWER FAIRY MUG+COASTER,LAVENDER')