#**Assignment #5**

*   **Mohammad Issa**
*   **ID:1210047**

# Online Retail II UCI DataSet
This Online Retail II data set contains all the transactions occurring for a UK-based and registered, non-store online retail between 01/12/2009 and 09/12/2011.The company mainly sells unique all-occasion gift-ware. Many customers of the company are wholesalers.

**Attribute Information:**

* InvoiceNo: Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.
* StockCode: Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.
* Description: Product (item) name. Nominal.
* Quantity: The quantities of each product (item) per transaction. Numeric.
* InvoiceDate: Invice date and time. Numeric. The day and time when a transaction was generated.
* UnitPrice: Unit price. Numeric. Product price per unit in sterling (Â£).
* CustomerID: Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.
* Country: Country name. Nominal. The name of the country where a customer resides.

**import Libraries:**

In [57]:
import pandas as pd
import numpy as np
import random
from itertools import product

**Load Dataset:**

In [58]:

data = pd.read_csv("C:/Users/HP/Downloads/online_retail_II.csv/online_retail_II.csv")#reading the data
seed = hash('1210047')  # Convert your ID to Integer hash

Randomly select 200k row from the dataset using my ID as seed.

In [59]:
# Randomly select 200,000 rows from the data (using seed of my ID)
data = data.sample(200000, random_state=np.random.default_rng(seed))
data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
426900,530140,47566,PARTY BUNTING,2,2010-11-01 16:45:00,8.47,NaN,United Kingdom
562245,539452,20966,SANDWICH BATH SPONGE,40,2010-12-17 17:06:00,1.25,15856.0,United Kingdom
108781,499858,20727,LUNCH BAG BLACK SKULL.,1,2010-03-02 17:04:00,4.21,NaN,United Kingdom
119725,500843,21703,BAG 125g SWIRLY MARBLES,3,2010-03-10 12:13:00,0.42,17348.0,United Kingdom
298174,518411,22175,PINK OWL SOFT TOY,1,2010-08-08 14:51:00,2.95,14575.0,United Kingdom
...,...,...,...,...,...,...,...,...
391230,527041,85176,SEWING SUSAN 21 NEEDLE SET,288,2010-10-14 12:27:00,0.64,12798.0,Japan
529205,536672,22812,PACK 3 BOXES CHRISTMAS PANNETONE,24,2010-12-02 12:10:00,1.95,14491.0,United Kingdom
25558,491613,21897,POTTING SHED CANDLE CITRONELLA,1,2009-12-11 13:52:00,2.95,16952.0,United Kingdom
852747,565648,22583,PACK OF 6 HANDBAG GIFT BOXES,2,2011-09-05 16:22:00,2.55,18196.0,United Kingdom
473217,533973,21874,GIN AND TONIC MUG,3,2010-11-19 13:21:00,1.25,15421.0,United Kingdom



   **Using a good and efficent ways, answer the following questions:**



1.   ***Determine the total sales per invoice and identify the top 5 invoices.***

In [60]:
invoice_total = data.groupby('Invoice')[['Price', 'Quantity']].sum()
invoice_total = invoice_total.reset_index()

# Sort invoice_total by total sales (descending) and select top 5 
top_invoices = invoice_total.sort_values(by='Price', ascending=False)[:5]

# Display results
print("Total Sales per Invoice:")
print(invoice_total.head())
print("\nTop 5 Invoices:")
top_invoices

Total Sales per Invoice:
  Invoice  Price  Quantity
0  489435   2.55        12
1  489436  11.70        42
2  489437  22.20        63
3  489438  11.85       206
4  489439   1.50        24

Top 5 Invoices:

       Invoice     Price  Quantity
8159    512771  25111.09         1
35045  C537630  13541.33        -1
36201  C580604  11586.50        -1
12830   525399  10468.80         1
33869  C496116   8985.60        -1


2.   ***Compute the total sales per customer and list the top 5 customers.***

In [61]:
def get_top_customers(data):

  customer_totals = data.groupby('Customer ID')[['Price', 'Quantity']].sum().reset_index()
  top_customers = customer_totals.sort_values(by='Price', ascending=False)[:5]
  return customer_totals, top_customers

# Example usage
customer_totals, top_customers = get_top_customers(data)

print("Total Sales per Customer:")
print(customer_totals.head())
print("\nTop 5 Customers:")
top_customers

Total Sales per Customer:
   Customer ID   Price  Quantity
0      12346.0   69.20        13
1      12347.0  123.90       850
2      12348.0   49.59       757
3      12349.0  726.51       248
4      12350.0    6.50        30

Top 5 Customers:

      Customer ID     Price  Quantity
2411      14911.0  15969.52     26685
5267      17949.0   9284.51      5764
1649      14096.0   6724.88      3122
1704      14156.0   6355.91     32924
5168      17841.0   6340.60      7149



3.   ***Identify the top 5 selling items during this period.***

In [62]:

# Assuming 'StockCode' represents the items
top_selling_items = (
    data.groupby('StockCode')['Quantity'].sum().sort_values(ascending=False).head(5)
)

#showing the  results
print("Top 5 Selling Items (by Quantity):")
print(top_selling_items)

Top 5 Selling Items (by Quantity):
StockCode
17003     21568
85099B    18224
21212     18162
84077     18115
85123A    17232
Name: Quantity, dtype: int64





4.   ***Determine the most frequently purchased item pairs by customers and display the top 20 pairs.***

In [63]:
# Step 1: Create a dataframe with customer ID and items purchased
customer_items = data.groupby('Invoice')['Description'].apply(list).reset_index()

# Step 2: Function to find all pairs of items in a list
def find_pairs(items):
    pairs = []
    for i in range(len(items)):
        for j in range(i+1, len(items)):
            pairs.append((items[i], items[j]))
    return pairs

# Step 3: Apply the function to find pairs for each customer and concatenate the lists
customer_pairs = customer_items['Description'].apply(find_pairs)

# Step 4: Flatten the list of pairs and count occurrences
pair_counts = pd.Series([item for sublist in customer_pairs for item in sublist]).value_counts()

# Step 5: Display the top 20 pairs
print("\nTop 20 Most Frequently Purchased Item Pairs:")
print(pair_counts.head(20))

Top 20 Most Frequently Purchased Item Pairs:
(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)         35
(WHITE HANGING HEART T-LIGHT HOLDER, RED HANGING HEART T-LIGHT HOLDER)    31
(HEART OF WICKER LARGE, HEART OF WICKER SMALL)                            29
(HAND WARMER SCOTTY DOG DESIGN, HAND WARMER OWL DESIGN)                   28
(DOLLY GIRL LUNCH BOX, SPACEBOY LUNCH BOX )                               27
(PINK REGENCY TEACUP AND SAUCER, GREEN REGENCY TEACUP AND SAUCER)         26
(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )        26
(LUNCH BAG CARS BLUE, LUNCH BAG WOODLAND)                                 26
(HEART OF WICKER SMALL, HEART OF WICKER LARGE)                            26
(LUNCH BAG PINK POLKADOT, LUNCH BAG RED RETROSPOT)                        25
(RED HANGING HEART T-LIGHT HOLDER, WHITE HANGING HEART T-LIGHT HOLDER)    24
(LUNCH BAG SPACEBOY DESIGN , LUNCH BAG SUKI  DESIGN )                     24
(ROSES REGENCY TEACUP AND SAUCER , GREEN REGENCY TEACUP AND SAUCER)       24
(WHITE HANGING HEART T-LIGHT HOLDER, HOME BUILDING BLOCK WORD)            23
(WHITE HANGING HEART T-LIGHT HOLDER, HEART OF WICKER LARGE)               23
(VINTAGE SNAP CARDS, VINTAGE HEADS AND TAILS CARD GAME )                  22
(ROSES REGENCY TEACUP AND SAUCER , PINK REGENCY TEACUP AND SAUCER)        22
(LUNCH BAG CARS BLUE, LUNCH BAG  BLACK SKULL.)                            22
(LUNCH BAG SPACEBOY DESIGN , LUNCH BAG  BLACK SKULL.)                     22
(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )       22
Name: count, dtype: int64



5.   ***The retail store aims to introduce a new promotion targeting items with low sales volume. This promotion entails offering a discounted price for a pair of two different items, with one item being among the top 10 best sellers and the other from the bottom 10 sellers. Customers who purchase these two items together will qualify for the special pricing. Your task is to recommend 10 pairs of items to kickstart this campaign.***

**let me show you the answer  explaining each step:**

1.   Calculate Total Quantity Sold per Stock Code:

 to calculate Quantity you need to Group the dataset by the Description column and sum up the "Quantity" for each item.

In [64]:
# Total quantity sold per stock 
item_quantities = data.groupby("Description")["Quantity"].sum().reset_index()

2.   Sort the Item Quantities DataFrame by Quantity in Descending Order:

Arranging the DataFrame obtained in the previous step in descending order acoording  to the total quantity sold.

In [65]:
# Sort the item_quantities DataFrame by quantity in descending order
sorted_quantities = item_quantities.sort_values(by="Quantity", ascending=False)

3.   Identify Top 10 Best Sellers by Quantity (without Duplicates):

Extract the top 10 rows from the sorted DataFrame, making sure that no duplicates are in the Description column.

In [66]:
# Top 10 best sellers by quantity (without duplicates-->drop_duplicates)
top_10_sellers = sorted_quantities.drop_duplicates(subset=["Description"]).head(10)

4.   Reset Index to Avoid Potential KeyError:

we have to reset the index of the DataFrame to make sure that it will start from 0 and proceeds in sequential, avoiding any potential KeyError.

In [67]:
# Resetting the index to avoid potential KeyError -->reset_index
top_10_sellers.reset_index(drop=True, inplace=True)

5.   Identify Bottom 10 Sellers by Quantity (without Duplicates and Cancelled Invoices):

Extract the bottom 10 rows from the sorted DataFrame where the quantity sold is greater than 0, to make sure no duplicates in the Description column.

In [68]:
# Bottom 10 sellers by quantity (without duplicates --->drop_duplicates and cancelled invoices)
bottom_10_sellers = sorted_quantities[sorted_quantities["Quantity"] > 0].drop_duplicates(subset=["Description"]).tail(10)

6.   Reset Index to Avoid Potential KeyError:

Reset the index of the DataFrame to make sure it starts from 0 and proceeds sequentially, avoiding any potential KeyError.

In [69]:
# Resetting the index to avoid potential KeyError
bottom_10_sellers.reset_index(drop=True, inplace=True)

7. Generate Pairs of Items (One from Top Sellers and One from Bottom Sellers):

Iterate 10 times to select random pairs of items, one from the top sellers and one from the bottom sellers.

Randomly select an item from the top 10 best sellers and another from the bottom 10 sellers and append them as a pair to the promotion_pairs list.

In [70]:
# Generate pairs of items (one from top sellers and one from bottom sellers)
promotion_pairs = []
for _ in range(10):
    top_item = random.choice(top_10_sellers["Description"])
    bottom_item = random.choice(bottom_10_sellers["Description"])
    promotion_pairs.append((top_item, bottom_item))

8. Display the Recommendation for the Promotion:

Print out the top 10 best sellers DataFrame.

Print out the bottom 10 sellers DataFrame.

Print out the recommended promotion pairs generated in the previous step.

In [71]:
# Display the recommendation for the promotion
print("\nTop 10 Sellers:")
print(top_10_sellers)
print("\nBotton 10 Sellers:")
print(bottom_10_sellers)
print("\nRecommended Promotion Pairs:")
for pair in promotion_pairs:
    print(pair)

Top 10 Sellers:
                          Description  Quantity
0                 BROCADE RING PURSE      21568
1   WORLD WAR 2 GLIDERS ASSTD DESIGNS     18115
2  WHITE HANGING HEART T-LIGHT HOLDER     17247
3       ASSORTED COLOUR BIRD ORNAMENT     16727
4          FLAG OF ST GEORGE CAR FLAG     14810
5             JUMBO BAG RED RETROSPOT     14681
6  PACK OF 60 PINK PAISLEY CAKE CASES     13822
7         60 TEATIME FAIRY CAKE CASES     11602
8    PACK OF 72 RETRO SPOT CAKE CASES     10719
9     VICTORIAN GLASS HANGING T-LIGHT      8579

Botton 10 Sellers:
                         Description  Quantity
0              BLUE TABLE RUN FLOWER         1
1     GLASS AND BEADS BRACELET IVORY         1
2       PURPLE DRESS JEWELLERY STAND         1
3  GLASS BEAD HOOP EARRINGS AMETHYST         1
4         MULTICOLOUR POLKADOT PLATE         1
5         TINY CRYSTAL BRACELET BLUE         1
6   MURANO STYLE GLASS BRACELET PINK         1
7    SILVER AND BLACK ORBIT NECKLACE         1
8       WHITE STONE/CRYSTAL EARRINGS         1
9                VIP PASSPORT COVER          1

Recommended Promotion Pairs:
('PACK OF 72 RETRO SPOT CAKE CASES', 'MURANO STYLE GLASS BRACELET PINK')
('PACK OF 60 PINK PAISLEY CAKE CASES', 'MURANO STYLE GLASS BRACELET PINK')
('VICTORIAN GLASS HANGING T-LIGHT', 'BLUE TABLE RUN FLOWER')
('WHITE HANGING HEART T-LIGHT HOLDER', 'MURANO STYLE GLASS BRACELET PINK')
('WHITE HANGING HEART T-LIGHT HOLDER', 'TINY CRYSTAL BRACELET BLUE')
('JUMBO BAG RED RETROSPOT', 'MULTICOLOUR POLKADOT PLATE')
('VICTORIAN GLASS HANGING T-LIGHT', 'MURANO STYLE GLASS BRACELET PINK')
('BROCADE RING PURSE ', 'BLUE TABLE RUN FLOWER')
('WHITE HANGING HEART T-LIGHT HOLDER', 'VIP PASSPORT COVER ')
('BROCADE RING PURSE ', 'VIP PASSPORT COVER ')